{{define "board" }} {{template "header" . }}
<script src="/static/sortable.min.js"></script>
<script>
  htmx.onLoad(function (content) {
    var sortables = content.querySelectorAll(".sortable");
    for (var i = 0; i < sortables.length; i++) {
      var sortable = sortables[i];
      new Sortable(sortable, {
        animation: 150,
        group: "shared",
        filter: ".static",
      });
    }
  });
</script>
{{template "nav-bar" . }}

<form
  hx-put="/todo/move"
  hx-trigger="taskMoved delay:200ms"
  hx-target="#board"
  hx-swap="none"
  _="on submit or keyup from #new-task debounced at 200ms
  if the event's type is 'submit' or the event's keyCode is 13 halt the event otherwise
  trigger submit on me 
  end"
>
  <input id="fromList" type="hidden" name="from" />
  <input id="toList" type="hidden" name="to" />
  <input id="moveTodo" type="hidden" name="task" />
  <div
    id="board"
    class="container mt-6"
    _="on end put event.from.id into #fromList.value 
    put event.to.id into #toList.value 
    put event.item.id into #moveTodo.value then send taskMoved then log event"
  >
    <div class="columns">
      <div
        class="column is-flex-direction-column is-one-third box has-background-primary m-2"
        style="display: flex"
      >
        <p class="is-size-4 has-text-centered">Todo</p>
        <div id="new" class="sortable">
          {{range .New}}{{ template "card" .}}{{end}}
        </div>
        <input
          id="new-task"
          name="new-todo"
          hx-post="/todo/new"
          hx-target="#todo-new"
          hx-swap="beforeend"
          _="on htmx:afterRequest set my value to ''"
          class="static input button is-fullwidth mt-auto is-primary"
          placeholder="add todo.."
        />
      </div>
      <div class="column is-one-third box has-background-success m-2">
        <p class="is-size-4 has-text-centered">In Progress</p>
        <div id="in-progress" class="sortable" style="height: 100%">
          {{range .InProgress}}{{template "card" .}}{{end}}
        </div>
      </div>
      <div class="column is-one-third box has-background-warning m-2">
        <p class="is-size-4 has-text-centered">Done</p>
        <div id="done" class="sortable" style="height: 100%">
          {{range .Done}}{{template "card" .}}{{end}}
        </div>
      </div>
    </div>
  </div>
</form>
{{end}}
